{% extends 'main.html' %}
{% block content %}
<section class="section">

    <div class="input">
        Search
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column">
            <p class="text" style="font-size:20px; font-weight:700; color:gold">Last search</p>
            <br>
            <div class="box">
                Elektrycy
                <span class="icon is-small is-right" style="margin-left:25vw;">
                    <i class="fa fa-chevron-down"></i>
                  </span>
            </div>
            
            <div class="box">
                Malarze Kraków
                <span class="icon is-small is-right" style="margin-left:22.5vw;">
                    <i class="fa fa-chevron-down"></i>
                  </span>
            </div>
            <div class="box">
                Architekci
                <span class="icon is-small is-right" style="margin-left:25vw;">
                    <i class="fa fa-chevron-down"></i>
                  </span>
            </div>
        </div>
        <div class="column">
            <p class="text" style="font-size:20px; font-weight:700; color:gold">Favourtie</p>
            <br>
            <div class="box">
                Stacje benzynowe kraków
                <span class="icon is-small is-right" style="margin-left:19vw;">
                    <i class="fa fa-chevron-down"></i>
                  </span>
            </div>
            <div class="box">
                Panele słoneczne
                <span class="icon is-small is-right" style="margin-left:22vw;">
                    <i class="fa fa-chevron-down"></i>
                  </span>
            </div>
            <div class="box">
                Sklepy spozywczne
                <span class="icon is-small is-right" style="margin-left:21.5vw;">
                    <i class="fa fa-chevron-down"></i>
                  </span>
            </div>
        </div>
      
    </div>
    <button class="button is-primary">Show more</button>
</section>


{% endblock content %}