{% extends 'main.html' %}
{% block content %}
<section class="section">
  <table class="table has-text-centered is-fullwidth">
  <thead>
    <tr>
      <th>No.</th>
      <th>Website</th>
      <th>Email</th>
      <th>Valid</th>
    </tr>
  </thead>
  <tbody>

  {% for mail in mails.items %}

    <tr>
      <th>{{loop.index}}</th>
      <td>{{mail.url}}</a> 
      </td>
      <td>{{mail.email}}</td>
      <td class="has-text-success">Yes</td>
    </tr>
   {%endfor%}
  </tbody>
</table>
        <nav style="margin:25px;">
            <div class="container">
               <div class="pagination" role="navigation" aria-label="pagination">
                  <div class="lol">
                     <a  href="{{ url_for('Panel.panel',keyword=keyword, page=mails.prev_num) }}"
                        class="custom-button test button
                        {% if mails.page == 1 %}is-hidden{% endif %}">
                     &laquo;
                     </a>
                     <!-- Loop through the number of pages to display a link for each-->
                     {% for page_num in mails.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                     {% if page_num %}
                     <!-- Check for the active page and set the link to "Active"-->
                     {% if mails.page == page_num %}
                     <a class="custom-button-active is-transparent button"href="{{ url_for('Panel.panel',keyword=keyword, page=page_num) }}"
                        class="custom-button-active ">
                     {{ page_num }}
                     </a>
                     {% else %}
                     <a href="{{ url_for('Panel.panel',keyword=keyword,page=page_num) }}"
                        class="custom-button test button">
                     {{ page_num }}
                     </a>
                     {% endif %}
                     {% else %}
                     ...
                     {% endif %}
                     {% endfor %}
                     <a href="{{ url_for('Panel.panel',keyword=keyword,page=mails.next_num) }}"
                        class="custom-button test button
                        {% if mails.page == mails.pages %}{% endif %}">
                     &raquo;
                     </a>
                  </div>
               </div>
         </nav>
         <form method="POST" action="">
            <button class="button is-primary">Safe</button>
         </form>
  </section>

{% endblock content %}
   