{% extends 'panel/main.html' %}
{% block content %}
<section class="section ">
  <div class="box  ">
  <form method="POST" action="">
  <div class="columns is-multiline is-mobile">
  
  {{form.hidden_tag()}}
  <div class="column is-three-fifths">
  {{form.keyword(class="input is-success",placeholder="Keyword")}}

  </div>
   <div class="column ">
    {{form.number_of_links(class="input is-success",min=1,placeholder="Number of results")}}
  </div>
    <div class="column">
   {{form.country(class="input is-success", type="select")}}
   </div>
    <div class="column ">
   {{form.submit(class="button is-success",onclick="loading()")}}
    </div>

  </div>
  </div>
  </div>
  </form>
  </section>
    <div class="middle" id="loading">
  <div class="bar bar1"></div>
  <div class="bar bar2"></div>
  <div class="bar bar3"></div>
  <div class="bar bar4"></div>
  <div class="bar bar5"></div>
  <div class="bar bar6"></div>
  <div class="bar bar7"></div>
  <div class="bar bar8"></div>
</div>
{% endblock content %}