{% extends 'main.html' %}
{% set active_page = "search" %}
{% block content %}

<style>
	.lds-hourglass {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
	  }
	  .lds-hourglass:after {
		content: " ";
		display: block;
		border-radius: 50%;
		width: 0;
		height: 0;
		margin: 8px;
		box-sizing: border-box;
		border: 32px solid #dfc;
		border-color: #dfc transparent #dfc transparent;
		animation: lds-hourglass 1.2s infinite;
	  }
	  @keyframes lds-hourglass {
		0% {
		  transform: rotate(0);
		  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		50% {
		  transform: rotate(900deg);
		  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		100% {
		  transform: rotate(1800deg);
		}
	  }
	  #fun-fact{
		  display:none;
	  }
	  #loader{
		display:none;
	  }


</style>
<script>
	function loading(){
		var load = document.getElementById("loader")
		var fun = document.getElementById("fun-fact")
	
		load.style.display='block'
		fun.style.display='block'
	}
		
	</script>

	



<section class="section">		
					<div class="column  has-text-left ">
          <form method="POST" action="">
          {{form.hidden_tag()}}
						<div class="field">
							<label class="label">Keyword</label>
							<div class="control">
							{{form.keyword(class="input is-gold",placeholder="Keyword")}}
							</div>
						</div>
            <div class="columns">
            <div class="column">
						<div class="field">
							<label class="label">Number of results</label>
							<div class="control">
							{{form.number_of_links(class="input is-gold",min=1,value=10,placeholder="Number of results")}}
              
							</div>
						</div>
            </div>
                 <div class="column">
						<div class="field">
							<label class="label">Origin country</label>
							<div class="control">
						
              {{form.country(class="input is-gold", type="select")}}
							</div>
						</div>
            </div>
            </div>
              <div class="columns">
            <div class="column">
						<div class="field">
							<label class="label">Device</label>
							<div class="control">
							{{form.device(class="input is-gold",min=1,value=10,placeholder="Number of results")}}
              
							</div>
						</div>
            </div>
             <div class="column">
						<div class="field">
							<label class="label">Domain (ex.google.com)</label>
							<div class="control">
							{{form.domain(class="input is-gold",min=1,value=10,placeholder="Number of results")}}
              
							</div>
						</div>
            </div>
                 <div class="column">
						<div class="field">
							<label class="label">Engine</label>
							<div class="control">
						
              {{form.engine(class="input is-gold", type="select")}}
							</div>
						</div>
            </div>
            </div>
					
						<div class="control" >
							 {{form.submit(class="button is-gold-button",onclick="loading()")}}
							
						</div>
						<div id="loader" class="lds-hourglass" style="margin-left:25vw; margin-top:150px;"></div>
						<div id="fun-fact" style="margin-left:16vw; font-weight:500; ">Do you know that we send over 306.4 billion emails per day?</div>
					</div>
				</div>
			</div>
        </form>
		</div>
	
   
	</section>
	


{% endblock content %}