<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Easy, Email, EasyEmail, EasyMail, Mail Easy, Easy Mail, find email, email found, check emails, find any email in google, email finder, finder email">
    <meta name="description" content="Easymail is a email finder wh">
    <title>EasyMail - Finding emails never was easier!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}"media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}"media="screen">
    <meta http-equiv="cache-control" content="no-cache" />

    <script defer src="{{url_for('static', filename='fontawesome/js/all.js')}}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link
       rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
       />
</head>
<style>
.background-color{
    background: rgb(54,138,103);
}
.menu-list li{
    padding:20px;
  
}
a:hover{
   border-radius:40px !important;
  
}
.menu-list li a{
    color:white;
}

.is-active{
    border-radius:40px !important;
    background:white !important;
    color:black !important;
}

    
</style>
<body>

    <section class="main-content columns is-fullheight  " style="height:110vh;">
  
        <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile background-color">
        <img src="static/photos/logo.png">
          <ul class="menu-list">
            <li>
              <a href="/search" class="{%if active_page=="search"%}is-active{%else%}{%endif%}">
                <span class="icon"><i class="fa fa-search"></i></span> Search
              </a>
            </li>
            <li>
              <a href="/emails" class="{%if active_page=="emails"%}is-active{%else%}{%endif%}">
                <span class="icon"><i class="fa fa-envelope"></i></span> Emails
              </a>
      
             
            </li>
              <li>
                <a href="#" class="{%if active_page=="user"%}is-active{%else%}{%endif%}">
                  <span class="icon"><i class="fa fa-user"></i></span> User
                </a>
        
               
              </li>

              <li>
                <a href="/logout" class="">
                  <span class="icon"><i class="fa fa-sign-out-alt"></i></span> Logout
                </a>
        
               
              </li>
          
          </ul>
        </aside>
      
        <div class="container column is-10 ">
{%block content%}

{%endblock content%}
        </div>
    </section>
<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>
</html>